.headerContainer{
    height: 5rem;
    border-bottom: 1px solid var(--gray-800);
    background: linear-gradient(90deg, rgba(2,115,94,1) 0%, rgba(1,64,64,0.8519782913165266) 100%);
}

.headerContent {
    height: 5rem;
    margin: 0 auto;
    padding: 0 2rem; 

    display: flex;
    align-items: center;
    justify-content: space-between;

    img{
        filter: drop-shadow(0 0 0.75rem black);
    }
    .entry{
        display: inline-flex;
    }
}
.signInButton{
    height: 3rem;
    border-radius: 3rem;
    background: var(--gray-850);
    border: 0;
    padding: 0 1.5rem;
    margin: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--white);
    font-weight: bold;

    transition: filter 0.2s;
    &:hover{
        filter: brightness(0.8);
    }
}