.content{
    h1{
        text-align: center;
        color: var(--gray-850);
        font-family: lato ;
        margin-bottom: 1rem;
    }
    a{
        color: var(--darkBlue);
        font-weight: bold;
    }
    p{
        text-align: center;
    }
    input{
        width: 100%;
        padding: 0 1.5rem;
        height: 3rem;
        border-radius: 0.5rem;
        margin-top: 1rem;
    
        border: 1px solid #d7d7d7;
        background: #e7e9ee;
    
        font-weight: 400;
        font-size: 1rem;
    
        &::placeholder{
            color: var(--text-body);
        }
        
    }
    input[type='checkbox']{
        max-width: 1rem;
    }
}

.or{
    text-align: center;

}
.loginIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;

    button{
        height: 2.5rem;
        width: 200px;
        margin: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid #d7d7d7;

        transition: filter 0.2s;
        &:hover{
        filter: brightness(0.8);
        }   
    }

}

.check{
    display: flex;
    justify-content: space-between;
    align-items: center;

    input{
        margin-right: 0.5rem;
        align-items: center;
        margin-top: 0;
    }
    label{
        display: inline-flex;
        align-items: center;
        width: 100%;
        padding-bottom: 1px;
    }
    a{
        width: 100%;
        text-align: end;
    }
}

.login{
    width: 100%;
    padding: 0 1.5rem;
    background: var(--darkBlue);
    color: var(--white);
    font-family: Poppins;
    height: 3rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.singIn{
    display: block;
}
.entryLogin{
    display: none;
}



